PROJECT_NAME=
APP_NETWORK=
MODULE_PUBLISHER_ACCOUNT_ADDRESS=
#This is the module publisher account's private key. Be cautious about who you share it with, and ensure it is not exposed when deploying your dApp.
MODULE_PUBLISHER_ACCOUNT_PRIVATE_KEY=